In [2]:
import pandas as pd

# Задание №1

In [21]:
rainting= pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
def raiting_movies(rating_mov):
    if rating_mov <= 2:
        return 'низкий рейтинг'
    elif 2 < rating_mov <= 4:
        return 'средний рейтинг'
    elif (rating_mov==4.5) or (rating_mov==5):
        return 'высокий рейтинг'

movies_raiting = rainting.merge(movies, how='left')
movies_raiting['class'] = movies_raiting['rating'].apply(raiting_movies)
movies_raiting.head()
#i = rainting.apply(lambda x: x==rainting['rating'] if rainting['movieId']==movies['movieId'], axis=1)print(i)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг

#  Задание №2

In [140]:
geo = pd.read_csv('ml-latest-small/keywords.csv')
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def geo_metrika(keyw):
    s = ''
    for reg,city in geo_data.items():
        for i in city:
            if i in keyw.split(' '):
                s = reg
            else:
                pass
    if len(s) > 0:
        return s
    else:
        return 'undefined'

geo['region'] = geo['keyword'].apply(geo_metrika)
geo['region'].value_counts()

undefined         99406
Центр               382
Северо-Запад        148
Дальний Восток       64
Name: region, dtype: int64

# Задание  №3

In [191]:
rainting= pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
years = [str(x) for x in range(1950,2011)]
movies_raiting = rainting.merge(movies, how='left')
def production_year(production_year):
        y = ''
        for year in years:
            if year in production_year:
                y = year
            else: 
                pass
        if len(y) ==0:
            return '1900'
        else:
            return y
movies_raiting['year']=movies_raiting['title'].apply(production_year)
movies_raiting.groupby(['year']).agg({'rating': 'mean'}).sort_values(by='rating')

        rating
year
2000  3.353444
1997  3.415764
1996  3.426600
2003  3.444777
2005  3.448434
...        ...
1954  3.994220
1974  3.999058
1952  4.000000
1972  4.011136
1957  4.014241

[62 rows x 1 columns]

In [160]:
years = [str(x) for x in range(1950,2011)]
i = ''
print(len(i))

0